ul{
    padding: 0;
    margin:0;
    text-align: left;
    li{
        list-style-type: none;
        width:100%;
        min-height: 2.5rem;
        box-sizing: border-box;
    }
    .nav_title{        
        height: 2.5rem;
        line-height: 2.5rem;
        padding-left:1rem;
        color:rgb(124, 124, 124);
        border-bottom:0.01rem solid #ccc;
    }
}